
<section class="mbr-section mbr-section-hero mbr-section-full mbr-section-with-arrow" id="header1-1" data-bg-video="https://www.youtube.com/watch?v=bCVnq0vUZtA">

    <div class="mbr-overlay" style="opacity: 0.3; background-color: rgb(29, 29, 29);"></div>

    <div class="mbr-table-cell">

        <div class="container">
            <div class="row">
                <div class="mbr-section col-md-10 col-md-offset-1 text-xs-center">

                    <h1 class="mbr-section-title display-1 homepage-title">Sustainable food production for the future</h1>
                    <p class="mbr-section-lead lead">Affordable, Sustainable and Organic<br></p>
					  <h4 class="mbr-section-title display-1 homepage-title">Coming Soon</h4>
                    <div class="mbr-section-btn"> <a class="btn btn-lg btn-white btn-white-outline" href="/soon">Buy our products</a></div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="mbr-arrow mbr-arrow-floating" aria-hidden="true"><a href="#msg-box5-0"><i class="mbr-arrow-icon"></i></a></div>

</section>

<section class="mbr-section" id="msg-box5-0" style="background-color: rgb(255, 255, 255); padding-top: 40px; padding-bottom: 0px;">

    
    <div class="container">
        <div class="row">
            <div class="mbr-table-md-up">

              

              <div class="mbr-table-cell mbr-right-padding-md-up col-md-5 text-xs-center text-md-right">
                  <h3 class="mbr-section-title display-2">About us</h3>
                  <div class="lead">

                    <p>Air Raya Aquaponics is a small food grower based in Belitung, Indonesia. We grow variety of vegetables and fruits as well as producing variety of fish. We are passionate about what we are doing to provide affordable, sustainable and organic foods to the community.</p>

                  </div>

                  <div><a class="btn btn-primary" href="/soon">MORE</a></div>
              </div>


              


              <div class="mbr-table-cell mbr-valign-top col-md-7">
						<div class="mbr-slider mbr-section mbr-section__container carousel slide mbr-section-nopadding" data-ride="carousel" data-keyboard="false" data-wrap="true" data-interval="5000" id="slider3-0" style="background-color: rgb(255, 255, 255);">
						<div class=" container boxed-slider" style="padding-top: 40px; padding-bottom: 40px;">
							<div>
								<div>
									<ol class="carousel-indicators">
										<li data-app-prevent-settings="" data-target="#slider3-0" data-slide-to="0" class="active"></li><li data-app-prevent-settings="" data-target="#slider3-0" data-slide-to="1"></li><li data-app-prevent-settings="" data-target="#slider3-0" class="" data-slide-to="2"></li>
									</ol>
									<div class="carousel-inner" role="listbox">
										<div class="mbr-section mbr-section-hero carousel-item dark center active" data-bg-video-slide="false">
											<div class="mbr-table-cell">
												<div class="mbr-overlay"></div>
												<div class="container-slide">
													<img src="img/veggies.png">
													<div class="row">
														<div class="col-md-8 col-md-offset-2 text-xs-center">
															<p class="mbr-section-lead lead"></p>
														</div>
													</div>
												</div>
											</div>
										</div><div class="mbr-section mbr-section-hero carousel-item dark center" data-bg-video-slide="false">
											<div class="mbr-table-cell">
												<div class="mbr-overlay"></div>
												<div class="container-slide">
													<img src="img/grow.png">
													<div class="row">
														<div class="col-md-8 col-md-offset-1">
															<p class="mbr-section-lead lead"></p>
														</div>
													</div>
												</div>
											</div>
										</div><div class="mbr-section mbr-section-hero carousel-item dark center" data-bg-video-slide="false">
											<div class="mbr-table-cell">
												<div class="mbr-overlay"></div>
												<div class="container-slide">
													<img src="img/fish.png">
													<div class="row">
														<div class="col-md-8 col-md-offset-3 text-xs-right">
															<p class="mbr-section-lead lead"></p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									<a data-app-prevent-settings="" class="left carousel-control" role="button" data-slide="prev" href="#slider3-0">
										<span class="icon-prev" aria-hidden="true"></span>
										<span class="sr-only">Previous</span>
									</a>
									<a data-app-prevent-settings="" class="right carousel-control" role="button" data-slide="next" href="#slider3-0">
										<span class="icon-next" aria-hidden="true"></span>
										<span class="sr-only">Next</span>
									</a>
								</div>
							</div>
						</div>
					</div>
              </div>

            </div>
        </div>
    </div>

</section>

<section class="mbr-cards mbr-section mbr-section-nopadding" id="features4-0" style="background-color: rgb(255, 255, 255);">

    

    <div class="mbr-cards-row row">
        <div class="mbr-cards-col col-xs-12 col-lg-4" style="padding-top: 40px; padding-bottom: 40px;">
            <div class="container">
                <div class="card cart-block">
                    <img src="img/affordable.png">
                    <div class="card-block">
                        <h5 class="card-subtitle">Affordable foods for everyone</h5>
                        <p class="card-text">Aquaponics does not require a lot of resources to produce therefore making it affordable.</p>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="mbr-cards-col col-xs-12 col-lg-4" style="padding-top: 40px; padding-bottom: 40px;">
            <div class="container">
                <div class="card cart-block">
                    <img src="img/sustainable.png">
                    <div class="card-block">
                        <h5 class="card-subtitle">Sustainable method system</h5>
                        <p class="card-text">Aquaponics is a farming system that requires minimal land and less water than normal farming method. Plants purify the water for the fish and the fish provide the nutrients to the plants.</p>
                        
                    </div>
                </div>
          </div>
        </div>
        <div class="mbr-cards-col col-xs-12 col-lg-4" style="padding-top: 40px; padding-bottom: 40px;">
            <div class="container">
                <div class="card cart-block">
                    <img src="img/organic.png">
                    <div class="card-block">
                        <h5 class="card-subtitle">Free pesticide</h5>
                        <p class="card-text">Aquaponics is environmentally friendly. It does not need  chemical inputs nor fertilizer.</p>
                        
                    </div>
                </div>
            </div>
        </div>
        
        
        
    </div>
</section>



<section class="mbr-cards mbr-section mbr-section-nopadding" id="features1-0" style="background-color: rgb(255, 255, 255); padding-top: 40px;">

        

    <div class="mbr-cards-row row striped">

        <div class="mbr-cards-col col-xs-12 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
            <div class="container">
                <div class="card cart-block">
                    <div class="card-img"><img src="img/tomato.png" class="card-img-top"></div>
                    <div class="card-block">
                        <h4 class="card-title">Fresh</h4>
                        <h5 class="card-subtitle">Harvest right from the farm</h5>
                        <p class="card-text">Whether buying our products right from our farm or have them delivered to you, we make sure our products as fresh as possible.</p>
                        <div class="card-btn"><a href="/soon" class="btn btn-primary">MORE</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mbr-cards-col col-xs-12 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;  background-color: #ffdfbd;">
            <div class="container">
                <div class="card cart-block">
                    <div class="card-img"><img src="img/koi.png" class="card-img-top"></div>
                    <div class="card-block">
                        <h4 class="card-title">High quality</h4>
                        <h5 class="card-subtitle">Produce the best quality</h5>
                        <p class="card-text">We grow variety of fish and vegetables. Producing high quality products is the main goal in our business.</p>
                        <div class="card-btn"><a href="/soon" class="btn btn-primary">MORE</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mbr-cards-col col-xs-12 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
            <div class="container">
                <div class="card cart-block">
                    <div class="card-img"><img src="img/catfish.png" class="card-img-top"></div>
                    <div class="card-block">
                        <h4 class="card-title">Grow more and care more</h4>
                        <h5 class="card-subtitle">Passionate about what we do</h5>
                        <p class="card-text">We love farming and love supporting the community. Every portion of our sale goes to charity. We believe the power of community to build a better life.</p>
                        <div class="card-btn"><a href="/soon" class="btn btn-primary">MORE</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mbr-cards-col col-xs-12 col-lg-3" style="padding-top: 80px; padding-bottom: 80px; background-color: #ffdfbd;">
            <div class="container">
                <div class="card cart-block">
                    <div class="card-img"><img src="img/lettuce.jpg" class="card-img-top"></div>
                    <div class="card-block">
                        <h4 class="card-title">Green environment</h4>
                        <h5 class="card-subtitle">Safe for the environment</h5>
                        <p class="card-text">We make sure every little step we do is safe for the environemnt. No chemical, no pesticide.</p>
                        <div class="card-btn"><a href="/soon" class="btn btn-primary">MORE</a></div>
                    </div>
                </div>
            </div>
        </div>
        
        
    </div>
</section>

<section class="mbr-section" id="testimonials1-0" style="background-color: rgb(255, 255, 255); padding-top: 50px; padding-bottom: 120px;">

    

        <div class="mbr-section mbr-section__container mbr-section__container--middle">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-xs-center">
                        <h3 class="mbr-section-title display-2">Quote</h3>
                        <small class="mbr-section-subtitle">Why we build Air Raya Aquaponics.</small>
                    </div>
                </div>
            </div>
        </div>


    <div class="mbr-testimonials mbr-section mbr-section-nopadding">
        <div class="container">
            <div class="row">

                <div class="col-xs-12 col-lg-4">

                    <div class="mbr-testimonial card mbr-testimonial-lg">
                        <div class="card-block"><em>“There is none amongst the Muslims who plants a tree or sows seeds, and then a bird, or a person or an animal eats from it, but it is regarded as a charitable gift for him.”</em></div>
                        <div class="mbr-author card-footer">
                            <div class="mbr-author-img"><img src="img/sunnah.png" class="img-circle"></div>
                            <div class="mbr-author-name">Sahih al-Bukhari</div>
                            <small class="mbr-author-desc">2320</small>
                        </div>
                    </div>
                </div><div class="col-xs-12 col-lg-4">

                    <div class="mbr-testimonial card mbr-testimonial-lg">
                        <div class="card-block"><em>“Air Raya Aquaponics is not only focus on making profit but also caring for people by making their products affordable, sustainable and organic.”</em></div>
                        <div class="mbr-author card-footer">
                            <div class="mbr-author-img"><img src="img/ummmaryam.png" class="img-circle"></div>
                            <div class="mbr-author-name">Umm Maryam</div>
                            <small class="mbr-author-desc">CRO</small>
                        </div>
                    </div>
                </div><div class="col-xs-12 col-lg-4">

                    <div class="mbr-testimonial card mbr-testimonial-lg">
                        <div class="card-block"><em>“If you believe in sustainable food production, you need to start aquaponics. Aquaponics is a modern method of farming that does not require alot of water and land.”</em></div>
                        <div class="mbr-author card-footer">
                            <div class="mbr-author-img"><img src="img/designer.png" class="img-circle"></div>
                            <div class="mbr-author-name">Abd Hakeem R</div>
                            <small class="mbr-author-desc">Designer</small>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</section>